/*
 * Application global variables.
 */

// ---------------------------------------------------------------------------
// Bootstrap variables
//
// Override Bootstrap variables here to suite your theme.
// Copy variables you want to customize from node_modules/bootstrap/scss/_variables.scss

//
// Color system
//

$app-white: #fff;
$app-gray-100: #f8f9fa;
$app-gray-200: #e9ecef;
$app-gray-300: #dee2e6;
$app-gray-400: #ced4da;
$app-gray-500: #adb5bd;
$app-gray-600: #868e96;
$app-gray-700: #495057;
$app-gray-800: #343a40;
$app-gray-900: #212529;
$app-black: #000;

$app-blue: #0073dd;
$app-indigo: #6610f2;
$app-purple: #6f42c1;
$app-pink: #e83e8c;
$app-red: #dc3545;
$app-orange: #fd7e14;
$app-yellow: #ffc107;
$app-green: #28a745;
$app-teal: #20c997;
$app-cyan: #17a2b8;

$app-spacer: 1rem;
