.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.btn {
  $red: rgb(102, 0, 0);

  display: block;
  margin: 0 auto;
  padding: 8px 16px;
  border: 2px solid $red;
  background-color: transparent;
  color: $red;
  border-radius: 4px;
}
