<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
      <span translate>Hello world !</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="isLoading">{{ quote }}</q>
  </div>
  <div>
    <input placeholder="Email" />
    <input placeholder="Password" type="password" />
    <input placeholder="Sensitive" data-bf-ignore-keypress />
  </div>
  <button class="btn" (click)="generateCrash()">Generate Crash</button>
  <button class="btn" (click)="triggerUncaughtPromise()">
    Trigger Uncaught Promise
  </button>
  <button class="btn" (click)="openFeedbackModal()">Open Feedback Modal</button>
</div>
